* {
    margin:0;
    padding:0;
    font-family: "Pretendard";
    font-size: 10px;
  }
  
  body {
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .outer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .inner {
    width: 1000px;
  }
  
  a {text-decoration: none;}
  input:focus {outline: none;}

/* -------------------------------------------- */
/* header : start */
/* -------------------------------------------- */
header {
  /* fixed 속성 주는 바람에 헤더와 main이 겹쳐지는데 방지하기 위함 */
  height: 60px;
}

header .outer {
  position: fixed;
  z-index: 100;
background-color: #FFFFFF;
  
  border-bottom: 1px solid #CACACA;
}
  
  header .inner {
    /* background-color: red; */
    height:60px;
  
    display: flex;
    justify-content: space-between;
  }
  
  .header--left,
  .header--right {
    /* background-color: yellow; */
    display: flex;
    align-items: center;
  }
  
  .header--left .e {
    margin-right: 30px;
  }
  
  .header--right .e {
    margin-left: 15px;
  }
  
  
  .header--left-logo {
    /* font-family: "Bebas Neue"; */
    color:#8976FD;
    font-weight: bold;
    font-size:25px;
  }
  
  .header--left-community,
  .header--left-barter,
  .header--left-sharehouse {
    color: #332C5C;
    font-size: 15px;
    font-weight: bold;
  }
  
  .header--left-community {
    color:#8976FD;
  }
  
  .header--left-barter:hover,
  .header--left-sharehouse:hover {
    color:#8976FD;
  }
  
  .header--right-search {
    width: 200px;
    height: 30px;
  
    position: relative;
  
    border: 1px solid #8976FD;
    border-radius: 50px;
  }
  
  .header--right-search span {
    color:#8976FD;
    margin-left:7px;
    line-height: 31px;
  
    cursor: pointer;
  }
  
  .header--right-search input {
    position: absolute;
    top:25%;
    right:10px;
  
    height:15px;
    width:150px;
  
    border:0;
  }
  
  .header--right-login,
  .header--right-signup {
    height:30px;
    line-height: 30px;
    padding: 0 20px;
    border:1px solid #8976FD;
    font-size: 10px;
    font-weight: bold;
  }
  
  .header--right-login {
    background-color: #8976FD;
    color: #FFFFFF;
  }
  
  .header--right-signup {
    color: #332C5C;
  }

  /* ---유저 로그인--- */
.header--right-user{
  height:30px;
  line-height: 30px;
  padding: 0 20px;
  border:1px solid #8976FD;
  font-size: 12px;
  font-weight: bold;
  border-radius: 10px;
  color: #8976FD;
  margin-left: 30px;
}
