*{
    margin: 0;
    padding: 0;
    font-family: pretendard;
}

#signup-container{
    height: 649px;
    margin: 40px 430px;

    background-color: #F5F3FF;
}

form{
    height: 500px;
    padding: 70px 40px 30px 40px;
}

h1{
    color: #8976FD;
    margin: 0 0 15px 0;
}

h3{
    color: #332C5C;
    font-weight: 500;
}

h1,h3{
    position: relative;
    top: 50px;
    left: 20px;
}


#signup-wrap{
    margin: 20px 10px 0 10px;
}

fieldset{
    border: none;
    margin-top: 20px;
}

legend{
    margin: 0 0 5px 0;
}

#id,
#password,
#password-retype,
#name,
#phone-number,
#address{
    padding: 10px;
    width: 492px;
    margin: 0 0 5px 0;
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
}


input::placeholder{
    color: #737373;
    font-weight: 500;
}

#signup--button{
    margin: 10px 210px;
    padding: 10px;
    width: 100px;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;

    font-size: 18px;
    color: #979797;
    font-weight: 600;
    text-decoration: none;
}

.hide {
    display: none;
}

main > div {
    color: #8976FD;
    font-size: 14px;
    padding: 0px 30px 0px 30px;
  }
