*{
    margin: 0;
    padding: 0;
    font-family: "Pretendard";
}

body {
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .outer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .inner {
    width: 1000px;
  }

  a {text-decoration: none;}
  input:focus {outline: none;}

.signup_form  .inner {
  display: flex;
  justify-content: center;
}

#signup-container{
  margin:50px 0;
    height: 700px;
    width: 650px;

    background-color: #F5F3FF;

    
}

form{
    height: 500px;
    padding: 70px 50px 30px 50px;
}

h1{
  font-size: 30px;
    color: #8976FD;
    margin: 0 0 15px 0;
}

h3{
    color: #332C5C;
    font-weight: 500;
}

h1,h3{
    position: relative;
    top: 50px;
    left: 20px;
}

#signup-wrap{
    margin: 20px 10px 0 10px;
}

fieldset{
    border: none;
    margin-top: 20px;
}

legend{
    margin: 0 0 5px 0;
}

#id,
#password,
#password-retype,
#name,
#phone-number,
#address,
#email{
    padding: 10px;
    width: 492px;
    margin: 0 0 5px 0;
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
}


input::placeholder{
    color: #737373;
    font-weight: 500;
}

#signup--button{
    margin: 10px 210px;
    padding: 10px;
    width: 100px;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;

    font-size: 18px;
    color: #979797;
    font-weight: 600;
    text-decoration: none;
}

.hide {
    display: none;
}