* {
  margin:0;
  padding:0;
  font-family: "Pretendard";
  font-size: 10px;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

.outer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #FFFFFF;
}

.inner {
  width: 1000px;
}

a {text-decoration: none;}

input:focus {outline: none;}

   /* -------------------------------------------- */
  /* header : start */
  /* -------------------------------------------- */
  
  header .outer {
    position: fixed;
    z-index: 100;
  
    border-bottom: 1px solid #CACACA;
  }
  
  header .inner {
    /* background-color: red; */
    height:60px;
  
    display: flex;
    justify-content: space-between;
  }
  
  .header--left,
  .header--right {
    /* background-color: yellow; */
    display: flex;
    align-items: center;
  }
  
  .header--left .e {
    margin-right: 30px;
  }
  
  .header--right .e {
    margin-left: 15px;
  }
  
  
  .header--left-logo {
    /* font-family: "Bebas Neue"; */
    color:#8976FD;
    font-weight: bold;
    font-size:25px;
  }
  
  .header--left-community,
  .header--left-barter,
  .header--left-sharehouse {
    color: #332C5C;
    font-size: 15px;
    font-weight: bold;
  }
  
  .header--left-sharehouse {
    color:#8976FD;
  }
  
  .header--left-community:hover,
  .header--left-barter:hover {
    color:#8976FD;
  }
  
  .header--right-search {
    width: 200px;
    height: 30px;
  
    position: relative;
  
    border: 1px solid #8976FD;
    border-radius: 50px;
  }
  
  .header--right-search span {
    color:#8976FD;
    margin-left:7px;
    line-height: 31px;
  
    cursor: pointer;
  }
  
  .header--right-search input {
    position: absolute;
    top:25%;
    right:10px;
  
    height:15px;
    width:150px;
  
    border:0;
  }
  
  .header--right-login,
  .header--right-signup {
    height:30px;
    line-height: 30px;
    padding: 0 20px;
    border:1px solid #8976FD;
    font-size: 10px;
    font-weight: bold;
  }
  
  .header--right-login {
    background-color: #8976FD;
    color: #FFFFFF;
  }
  
  .header--right-signup {
    color: #332C5C;
  }

  /* ---유저 로그인--- */
.header--right-user{
  height:30px;
  line-height: 30px;
  padding: 0 20px;
  border:1px solid #8976FD;
  font-size: 12px;
  font-weight: bold;
  border-radius: 10px;
  color: #8976FD;
  margin-left: 30px;
}
  
  /* -------------------------------------------- */
  /* header : end */
  /* -------------------------------------------- */
.outer{
  background-color: #ffff;
}

main{
  height: 860px !important;
}

.delete-success-container{
  margin-top: 190px;
  display: flex;
  justify-content: center;
  
}
.center-success-box{
  width: fit-content;
}
.delete-success-box{
  width: 400px;
  height: 430px;
  border: 1px solid #8976FD;
  border-radius: 9px;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;

}

.delete-success-img{
  padding-top: 70px;
  margin-left: 145px;
  /* center */
  display: flex;
  justify-content: center;

}
.delete-success-title{
  font-size: 35px;
  font-weight: 600;
  padding-top: 40px;
  padding-bottom: 15px;
  
  /* center */
  display: flex;
  justify-content: center;
}

.delete-success-ment{
  font-size: 22px;
  font-weight: 350;
  padding-bottom: 30px;
  
  /* center */
  display: flex;
  justify-content: center;
}
.go-main-btn{
  font-size: 17px;
  margin: 40px;
  width: 200px;
  height: 50px;
  border-radius: 9px;
  border: none;
  color: #ffff;
  background-color:  #8976FD;
}

.go-main-btn-box{
  width: 462px;
  display: flex;
  justify-content: center;
}

/* -------------------------------------------- */
  /* footer : start */
  /* -------------------------------------------- */
  footer .outer {
    border-top: 1px solid #CACACA;
  }
  
  footer .inner {
    height:50px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  footer span {
    display: block;
    margin:0 5px;
  
    font: #6E6E6E;
  }
  
  /* -------------------------------------------- */
  /* footer : end */
  /* -------------------------------------------- */