* {
  margin:0;
  padding:0;
  font-family: "Pretendard";
  font-size: 10px;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

.outer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner {
  width: 1000px;
}

a {text-decoration: none;}
input:focus {outline: none;}

.delete-success-container{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.center-success-box{
  width: fit-content;
}
.delete-success-box{
  width: 400px;
  height: 430px;
  border: 1px solid #8976FD;
  border-radius: 9px;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;

}

.delete-success-img{
  padding-top: 70px;
  margin-left: 145px;
  /* center */
  display: flex;
  justify-content: center;

}
.delete-success-title{
  font-size: 35px;
  font-weight: 600;
  padding-top: 40px;
  padding-bottom: 15px;
  
  /* center */
  display: flex;
  justify-content: center;
}

.delete-success-ment{
  font-size: 22px;
  font-weight: 350;
  padding-bottom: 30px;
  
  /* center */
  display: flex;
  justify-content: center;
}
.go-main-btn{
  font-size: 17px;
  margin: 40px;
  width: 200px;
  height: 50px;
  border-radius: 9px;
  border: none;
  color: #ffff;
  background-color:  #8976FD;
}

.go-main-btn-box{
  width: 462px;
  display: flex;
  justify-content: center;
}