* {
  margin:0;
  padding:0;
  font-family: "Pretendard";
  font-size: 10px;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

.outer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner {
  width: 1000px;
}

a {text-decoration: none;}
input:focus {outline: none;}


main {
  height: 850px;
  border: 0.01px solid beige;
}

/* -------------------------------------------- */
/* footer : start */
/* -------------------------------------------- */
footer .outer {
  border-top: 1px solid #CACACA;
}

footer .inner {
  height:50px;

  display: flex;
  justify-content: center;
  align-items: center;
}


footer span {
  display: block;
  margin:0 5px;

  font: #6E6E6E;
}

/* -------------------------------------------- */
/* footer : end */
/* -------------------------------------------- */

/* 게시글 */
.form-container {
  max-width: 900px;
  height: 450px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;

}

.material-symbols-outlined {
  color: #CACACA;
  position: relative;
  top: 5px;
  left: 5px;
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 24
}

#edit-category{
  font-size: 20px;
  color: #8976FD;
  font-weight: 500;
  margin-left: 10px;
}

.form-group {
  margin-bottom: 20px;
  width: 895px;
  border: none;
}

.form-group input{
  width: 889px;
  height: 40px;
  font-size: 18px;
  padding: 5px;
  background-color: #8876fd18;
  border: none;

}
.form-group textarea {
  width: 878px;
  height: 300px;
  padding: 10px;
  font-size: 15px;
  border: none;
}

.form-group input[type="submit"] {
  padding: 10px 20px;
  background-color:#8976FD;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.form-group input[type="submit"]:hover {
  background-color: #0056b3;
}

#edit-file{
  position: relative;
  bottom: 50px;
  left: 10px;
}

.title-write{
  margin-top: 100px;
}
.edit-container{
  border: 1px solid black;
  margin-top: 130px;
  flex-direction: column;
  align-items: center;
  height: 800px;
  border: none;
}
.edit-title{
  display: flex;
  justify-content: center;
  padding:10px;
}

#postForm{
  align-items: center;
  font-size: 20px;
}

.edit-title-font{
  font-size: 27px;
  font-weight: 600;
}
#form-topic{
  font-size: 18px;
  padding: 20px;
  color: #8976FD;
}

.edit-submit-buttons{
	text-align: center;
}
.edit-sub-btn1,
.edit-sub-btn2{
  width: 180px; 
  font-size: 15px;
  display :inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
}

.edit-sub-btn1{
  color: #332C5C;
  border: 0.5px solid #8976FD;
  background-color: #FFFFFF;
}

.edit-sub-btn2{
  color: #ffffff;
  border: 0.5px solid #8976FD;
  background-color: #8976FD;
}



