*{
    margin: 0;
    padding: 0;
    font-family: pretendard;
}


#find-pw-container{
    height: 649px;
    margin: 40px 430px;
}

.find-pw-wrap{
    margin-top: 90px;
}

form{
    background-color: #F5F3FF;
    height: 500px; 
    padding: 80px 90px 60px 90px; 
}

h1{
    color: #8976FD;
    margin: 0 0 55px 0;
}

fieldset{
    border: none;
}

#id,
#name{
    padding: 12px;
    width: 469px;
    font-size: 20px;
    margin: 0 0 20px 0;
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
}

input::placeholder{
    color: #979797;
    font-weight: 500;
}

#name{
    margin: 0 0 90px 0;
}

.find-pw-button,
.login-button,
.regist-button{
    width: 495px;
    padding: 12px 50px;
    font-size: 20px;
    margin: 0 0 20px 0;
    border: none;
    border-radius: 10px;
    background-color: #8976FD;

    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}
