* {
    margin:0;
    padding:0;
    font-family: "Pretendard";
    font-size: 10px;
  }
  
  body {
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .outer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #FFFFFF;
  }
  
  .inner {
    width: 1000px;
  }
  
  a {text-decoration: none;}
  
  input:focus {outline: none;}
  
  /* -------------------------------------------- */
  /* header : start */
  /* -------------------------------------------- */
  
  header .outer {
    position: fixed;
    z-index: 100;
  
    border-bottom: 1px solid #CACACA;
  }
  
  header .inner {
    /* background-color: red; */
    height:60px;
  
    display: flex;
    justify-content: space-between;
  }
  
  .header--left,
  .header--right {
    /* background-color: yellow; */
    display: flex;
    align-items: center;
  }
  
  .header--left .e {
    margin-right: 30px;
  }
  
  .header--right .e {
    margin-left: 15px;
  }
  
  
  .header--left-logo {
    /* font-family: "Bebas Neue"; */
    color:#8976FD;
    font-weight: bold;
    font-size:25px;
  }
  
  .header--left-community,
  .header--left-barter,
  .header--left-sharehouse {
    color: #332C5C;
    font-size: 15px;
    font-weight: bold;
  }
  
  .header--left-community {
    color:#8976FD;
  }
  
  .header--left-barter:hover,
  .header--left-sharehouse:hover {
    color:#8976FD;
  }
  
  .header--right-search {
    width: 200px;
    height: 30px;
  
    position: relative;
  
    border: 1px solid #8976FD;
    border-radius: 50px;
  }
  
  .header--right-search span {
    color:#8976FD;
    margin-left:7px;
    line-height: 31px;
  
    cursor: pointer;
  }
  
  .header--right-search input {
    position: absolute;
    top:25%;
    right:10px;
  
    height:15px;
    width:150px;
  
    border:0;
  }
  
  .header--right-login,
  .header--right-signup {
    height:30px;
    line-height: 30px;
    padding: 0 20px;
    border:1px solid #8976FD;
    font-size: 10px;
    font-weight: bold;
  }
  
  .header--right-login {
    background-color: #8976FD;
    color: #FFFFFF;
  }
  
  .header--right-signup {
    color: #332C5C;
  }

  /* ---유저 로그인--- */
.header--right-user{
  height:30px;
  line-height: 30px;
  padding: 0 20px;
  border:1px solid #8976FD;
  font-size: 12px;
  font-weight: bold;
  border-radius: 10px;
  color: #8976FD;
  margin-left: 30px;
}
  
  /* -------------------------------------------- */
  /* header : end */
  /* -------------------------------------------- */
  
  main {
    height:1000px;
    background-color: #FFFFFF;
  }

  .create-container{
    padding: 110px 0 0 0;
    margin: 0 265px;
  }

  .create-title{
    text-align: center;
    color: #332C5C;
  }

  .create-title .material-symbols-outlined {
    color: #332C5C;
    position: relative;
    top: 5px;
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24
}


  .create-title span{
    font-size: 30px;
    font-weight: bold;
  }

  .create-textarea-box{
    border: 3px solid #979797;
    border-radius: 6px;
    
    width: 1000px;
    height: 400px;

    margin: 30px 0 300px 0;
  }

  .create-textarea{
    padding: 10px;
  }

  .create-textarea span{
    font-size: 25px;
    color: #8976FD;
    font-weight: 500;
    text-align: center;
  }

  .create-textarea .material-symbols-outlined {
    color: #332C5C;
    text-align: center;
    position: relative;
    top: 5px;
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 24
  }

  .create-textarea-title{
    width: 960px;
    height: 30px;
    background-color: #f5f3ff;
    border: none;

    padding: 10px 0 10px 40px;
  }

  .create-textarea-title::placeholder{
    font-size: 15px;
    color: #CACACA;
  }

  .create-textarea-content{
    margin: 20px 40px 0;
    
    width: 895px;
    height: 230px;

    border: none;
    
  }

  .create-textarea-content::placeholder{
    font-size: 15px;
    color: #CACACA;
    font-weight: 500;

    width: 895px;
    height: 230px;
  }

  .create-file{
    margin-left: 910px;
  }

  .create-file ul{
    list-style: none;
    display: flex;
  }

  .material-symbols-outlined {
    color: #CACACA;
    /* margin: 3px; */
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 24
  }

  .create-button{
    margin: 0 200px;
  }

  .create-list-button,
  .create-submit-button{
    width: 170px;
    height: 50px;

    font-size: 20px;
    font-weight: 500;

    border-radius: 10px;

    position: relative;
    left: 130px;

    cursor: pointer;
  }

  .create-list-button{
    background-color: #8976FD;
    color: #FFFFFF;
    border: none;
  }

  .create-submit-button{
    background-color: #FFFFFF;
    color: #332C5C;
    border: 1px solid #8976FD;
    margin: 0 0 0 10px;
  }


  /* -------------------------------------------- */
  /* footer : start */
  /* -------------------------------------------- */
  footer .outer {
    border-top: 1px solid #CACACA;
  }
  
  footer .inner {
    height:50px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  footer span {
    display: block;
    margin:0 5px;
  
    font: #6E6E6E;
  }
  
  /* -------------------------------------------- */
  /* footer : end */
  /* -------------------------------------------- */