* {
  margin:0;
  padding:0;
  font-family: "Pretendard";
  font-size: 10px;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}
.outer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner {
  width: 1000px;
}

a {text-decoration: none;}

input:focus {outline: none;}

/* -------------------------------------------- */
/* header : start */
/* -------------------------------------------- */

header .outer {
  position: fixed;
  z-index: 100;
  background-color: #FFFFFF;

  border-bottom: 1px solid #CACACA;
}

header .inner {
  /* background-color: red; */
  height:60px;

  display: flex;
  justify-content: space-between;
}

.header--left,
.header--right {
  /* background-color: yellow; */
  display: flex;
  align-items: center;
}

.header--left .e {
  margin-right: 30px;
}

.header--right .e {
  margin-left: 15px;
}


.header--left-logo {
  /* font-family: "Bebas Neue"; */
  color:#8976FD;
  font-weight: bold;
  font-size:25px;
}

.header--left-community,
.header--left-barter,
.header--left-sharehouse {
  color: #332C5C;
  font-size: 15px;
  font-weight: bold;
}

.header--left-community {
  color:#8976FD;
}

.header--left-barter:hover,
.header--left-sharehouse:hover {
  color:#8976FD;
}

.header--right-search {
  width: 200px;
  height: 30px;

  position: relative;

  border: 1px solid #8976FD;
  border-radius: 50px;
}

.header--right-search span {
  color:#8976FD;
  margin-left:7px;
  line-height: 31px;

  cursor: pointer;
}

.header--right-search input {
  position: absolute;
  top:25%;
  right:10px;

  height:15px;
  width:150px;

  border:0;
}

.header--right-login,
.header--right-signup {
  height:30px;
  line-height: 30px;
  padding: 0 20px;
  border:1px solid #8976FD;
  font-size: 10px;
  font-weight: bold;
}

.header--right-login {
  background-color: #8976FD;
  color: #FFFFFF;
}

.header--right-signup {
  color: #332C5C;
}

/* -------------------------------------------- */
/* header : end */
/* -------------------------------------------- */

main {
  height:900px;
  background-color: #FFFFFF;
  z-index: 1;
  position: static;
  flex:1
}

 main .outer{
  padding-top: 61px;
}

.info-change{
  padding-top: 20px;
  display: flex;
  align-items: center;
}
.user-photo{
  width: 140px;
  height: 140px;
  object-fit: fill;
}
.user-email{
  margin: 20px;
  font-size: 20px;
  border: 1 solid;
}
.user-button{
  background-color: #8976FD;
  border: 0 solid #8976FD;
  color: white;
  font-size: 15px;

  padding: 10px 20px;
  border-radius: 10px;
}


.info-change-button{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.main--profile:hover, .maim--post:hover, .maim--comment:hover,
.maim--change:hover, .maim--pwdchang:hover, .maim--note:hover{
  color:#8976FD;
  border-bottom: #8976FD solid 1px;
}

.main--profile, .maim--post, .maim--comment,
.maim--change, .maim--pwdchang, .maim--note
{
  font-size: 15px;
  font-weight: bold;
  
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.maim--change{
  border-bottom: #8976FD solid 1px;
  color: #8976FD;
}

.main--profile, .maim--post, .maim--comment,
.maim--pwdchang, .maim--note{
  border-bottom: #979797 solid 1px;
  color: #979797;
}

main input{
  background-color: #CACACA;
  color: black;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 0px;
  padding-left: 10px;
  font-size: 15px;
}

.user-profile{
  padding: 20px 0px;
}
.user-profile th, td{
  border-right: 20px solid white;
  font-size: 15px;
}
.user-profile th{
  width: 150px;
  height: 50px;
}
.user-profile td{
  text-align: 20px;

}

.chang-delete{
  padding-top: 30px;
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
}

.delete-button{
  font-size: 15px;
  color: white;
  border: 0;
  background-color: #DB4455;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  margin-left: 80px;
}

.chang-button{
  font-size: 15px;
  color: white;
  border: 0;
  background-color: #614DDE;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  position: relative;
  left: 60%;
}

/* js */
.hide{
  visibility: hidden;
}

/* -------------------------------------------- */
/* footer : start */
/* -------------------------------------------- */
footer{
  z-index: 2;
  position: relative;
  /* min-height: 50px; */
}
footer .outer {
  border-top: 1px solid #CACACA;
}

footer .inner {
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


footer span {
  display: block;
  margin:0 5px;

  font: #6E6E6E;
}

/* -------------------------------------------- */
/* footer : end */
/* -------------------------------------------- */