* {
  margin:0;
  padding:0;
  font-family: "Pretendard";
  font-size: 10px;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}
* {
  margin:0;
  padding:0;
  font-family: "Pretendard";
  font-size: 10px;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

.outer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner {
  width: 1000px;
}

a {text-decoration: none;}

input:focus {outline: none;}

  /* ---유저 로그인--- */
  .header--right-user{
    height:30px;
    line-height: 30px;
    padding: 0 20px;
    border:1px solid #8976FD;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    color: #8976FD;
    margin-left: 30px;
  }

main {
  padding-top: 60px;
}


.list-page{
  display: flex;
  flex-direction: column;
}

.list-box-topic{
  border-bottom: 1px solid #332C5C;
  padding-bottom: 10px;
}

.list-topic{
  font-size: 20pt;
  color: #332C5C;
  padding-top: 50px;
  font-weight: bold;
}
.list-topic-second{
  font-size: 15pt;
  padding-top: 30px;
  color: #8976FD;
}

.chart_colum{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #979797;
}
.topic_title{
  font-size: 13pt;
  color: #8976FD;
  width: 80%;
  text-align: center;
}

  
.topic_date{
  font-size: 13pt;
  color: #8976FD;
  flex: 1;
  text-align: center;
}

.post_list .title{
  color: #332C5C;
  font-size: 15px;
  margin-left: 10px;
}

.posting-container {
  padding:10px 0;
  border-bottom: 1px solid #979797;
}

.title-date{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date{
  font-size: 15px;
  padding-right:70px;
}

#post_list--pagination {
  display: flex;
  justify-content: center;

  margin: 30px 0 50px 0;
}

#post_list--pagination .page-btn {
  margin: 0 3px;
  width: 30px;
  height: 30px;

  line-height: 30px;
  text-align: center;

  font-size: 15px;
  border:1px solid #8976FD;
  background-color: white;
  color: #332C5C;

  cursor: pointer;
}

#post_list--pagination .prev-btn,
#post_list--pagination .next-btn {
  margin: 0 5px;
  padding:0 10px;

  height: 30px;

  line-height: 30px;
  text-align: center;

  font-size: 15px;

  color:#332C5C;
  background-color: #F5F3FF;
  border: 1px solid #8976FD;

  cursor: pointer;
}