* {
  margin:0;
  padding:0;
  font-family: "Pretendard";
  font-size: 10px;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}
* {
  margin:0;
  padding:0;
  font-family: "Pretendard";
  font-size: 10px;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

.outer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner {
  width: 1000px;
}

a {text-decoration: none;}

input:focus {outline: none;}

/* -------------------------------------------- */
/* header : start */
/* -------------------------------------------- */
.header-placeholder{
  margin-top: 100px;
}
header .outer {
  position: fixed;
  z-index: 100;

  border-bottom: 1px solid #CACACA;
}

header .inner {
  /* background-color: red; */
  height:60px;

  display: flex;
  justify-content: space-between;
}

.header--left,
.header--right {
  /* background-color: yellow; */
  display: flex;
  align-items: center;
}

.header--left .e {
  margin-right: 30px;
}

.header--right .e {
  margin-left: 15px;
}


.header--left-logo {
  /* font-family: "Bebas Neue"; */
  color:#8976FD;
  font-weight: bold;
  font-size:25px;
}

.header--left-community,
.header--left-barter,
.header--left-sharehouse {
  color: #332C5C;
  font-size: 15px;
  font-weight: bold;
}

.header--left-community {
  color:#8976FD;
}

.header--left-barter:hover,
.header--left-sharehouse:hover {
  color:#8976FD;
}

.header--right-search {
  width: 200px;
  height: 30px;

  position: relative;

  border: 1px solid #8976FD;
  border-radius: 50px;
}

.header--right-search span {
  color:#8976FD;
  margin-left:7px;
  line-height: 31px;

  cursor: pointer;
}

.header--right-search input {
  position: absolute;
  top:25%;
  right:10px;

  height:15px;
  width:150px;

  border:0;
}

.header--right-login,
.header--right-signup {
  height:30px;
  line-height: 30px;
  padding: 0 20px;
  border:1px solid #8976FD;
  font-size: 10px;
  font-weight: bold;
}

.header--right-login {
  background-color: #8976FD;
  color: #FFFFFF;
}

.header--right-signup {
  color: #332C5C;
}

  /* ---유저 로그인--- */
  .header--right-user{
    height:30px;
    line-height: 30px;
    padding: 0 20px;
    border:1px solid #8976FD;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    color: #8976FD;
    margin-left: 30px;
  }
/* -------------------------------------------- */
/* header : end */
/* -------------------------------------------- */

main {
  height:1000px;
  width: 1000px;
  background-color: #FFFFFF;
}

main {
  height:900px;
  background-color: #FFFFFF;
  z-index: 1;
  position: static;
  flex:1
}

 main .outer{
  padding-top: 60px;
}

.list-page{
  display: flex;
  flex-direction: column;
}

.list-box-topic{
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}
.list-topic{
  font-size: 20pt;
  color: #332C5C;
  padding-top: 50px;
  font-weight: bold;
}
/* main .list-container{
  display: flex;
  padding-top: 30px;
} */
.list-topic-second{
  font-size: 15pt;
  padding-top: 30px;
  color: #8976FD;
}

/* main .third_topic{
  font-size: 15pt;
  padding-left: 20px;
} */
/* main .top_cshart_line{
  padding-left: 150px;
} */

/* main .horizontal-line01 {
  border-top: 1px solid black; 
  margin: 5px 0; 
  margin-left: 150px;  
} */

.chart_colum{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #979797;
}
.topic_title{
  font-size: 13pt;
  color: #8976FD;
  width: 80%;
  text-align: center;
  /* margin-top: 10px; */
  /* margin-left: 550px; */
}
.topic_date{
  font-size: 13pt;
  color: #8976FD;
  flex: 1;
  text-align: center;
  /* margin-top: 10px; */
  /* margin-left: 350px; */
}



/* .horizontal-line02 {
  border-top: 1px solid #979797; 
  margin: 15px 0; 
  margin-left: 150px;  
} */
/* .posting_container input[type="checkbox"] {
  width: 20px; 
  height: 20px; 
} */
.posting-container{
  display: flex;
  margin: 10px 0px 10px;
  /* padding-top: 10px; */
  /* width: 100%; */
}
/* main .posting-container label{
  font-size: 13pt;
  color: #332C5C;
  display: flex;
} */
.title-date{
  display: flex;
  width: 100%;
}
.title{
  font-size: 13pt;
  width: 80%;
  /* padding-right: 10px; */
  /* padding-left: 30px; */
}
.date{
  font-size: 13pt;
  flex:1;
  text-align: center;
  /* padding-left: 620px; */
}

.horizontal-line{
  border-top: 1px solid #979797; 
}

.delete_button {
  background-color: #FFFFFF;
  color: #8976FD;
  padding: 10px 20px;
  border: 1px solid #8976FD;
  border-radius: 10px;
  font-size: 15px;
  width: 75px; 
  height: 50px; 
  font-weight: 600;
  margin-left: 150px;
  margin-top: 100px;
}
.button_container a{
  padding-left: 20px;
  font-size: 13pt;
  color: #979797;
  margin-left: 15px;
  margin-top: 100px;
  padding: 10px 20px;
}
.layer_tab{
  margin-top: 110px;
}
.button_container{
  display: flex;
}
/* -------------------------------------------- */
/* footer : start */
/* -------------------------------------------- */
.footer-placeholder{
  margin-bottom: 100px;
}
footer .outer {
  border-top: 1px solid #CACACA;
}

footer .inner {
  height:50px;

  display: flex;
  justify-content: center;
  align-items: center;
}


footer span {
  display: block;
  margin:0 5px;

  font: #6E6E6E;
}

/* -------------------------------------------- */
/* footer : end */
/* -------------------------------------------- */