* {
  margin:0;
  padding:0;
  font-family: "Pretendard";
  font-size: 10px;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

.outer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
}

main{
  height: 2000px;
}


.inner {
  width: 1000px;
}

a {text-decoration: none;}

input:focus {outline: none;}

/* -------------------------------------------- */
/* header : start */
/* -------------------------------------------- */
header{
  height:60px;
}

header .outer {
  position: fixed;
  z-index: 100;

  border-bottom: 1px solid #CACACA;
}

header .inner {
  /* background-color: red; */
  height:60px;

  display: flex;
  justify-content: space-between;
}

.header--left,
.header--right {
  /* background-color: yellow; */
  display: flex;
  align-items: center;
}

.header--left .e {
  margin-right: 30px;
}

.header--right .e {
  margin-left: 15px;
}


.header--left-logo {
  /* font-family: "Bebas Neue"; */
  color:#8976FD;
  font-weight: bold;
  font-size:25px;
}

.header--left-community,
.header--left-barter,
.header--left-sharehouse {
  color: #332C5C;
  font-size: 15px;
  font-weight: bold;
}

.header--left-community {
  color:#8976FD;
}

.header--left-barter:hover,
.header--left-sharehouse:hover {
  color:#8976FD;
}

.header--right-search {
  width: 200px;
  height: 30px;

  position: relative;

  border: 1px solid #8976FD;
  border-radius: 50px;
}

.header--right-search span {
  color:#8976FD;
  margin-left:7px;
  line-height: 31px;

  cursor: pointer;
}

.header--right-search input {
  position: absolute;
  top:25%;
  right:10px;

  height:15px;
  width:150px;

  border:0;
}

.header--right-login,
.header--right-signup {
  height:30px;
  line-height: 30px;
  padding: 0 20px;
  border:1px solid #8976FD;
  font-size: 10px;
  font-weight: bold;
}

.header--right-login {
  background-color: #8976FD;
  color: #FFFFFF;
}

.header--right-signup {
  color: #332C5C;
}

/* ---유저 로그인--- */
.header--right-user{
  height:30px;
  line-height: 30px;
  padding: 0 20px;
  border:1px solid #8976FD;
  font-size: 12px;
  font-weight: bold;
  border-radius: 10px;
  color: #8976FD;
  margin-left: 30px;
}

/* -------------------------------------------- */
/* header : end */
/* -------------------------------------------- */

main {
  height:1000px;
  background-color: #FFFFFF;
}

/* -------------------------------------------- */
/* footer : start */
/* -------------------------------------------- */
footer .outer {
  border-top: 1px solid #CACACA;
}

footer .inner {
  height:50px;

  display: flex;
  justify-content: center;
  align-items: center;
}


footer span {
  display: block;
  margin:0 5px;

  font: #6E6E6E;
}

/* -------------------------------------------- */
/* footer : end */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* main : start */
/* -------------------------------------------- */

.banner-container{
  width: 100wh;
  height: 200px;
  background-color: #C4E4F1;
  display: block;
}

.detail-container{
  padding-top: 20px;
  height: max-content;  
  border-bottom: 0.2px solid #CACACA;

}

.theme-title{
  font-size: 15px;
  font-weight: 500;
  color: #8976FD;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content-title{
  font-size: 23px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 15px;
}

.name-time p{
  font-size: 15px;  
  padding-right: 10px;
  color: #332C5C;
  font-weight: 200;
}
.name-time{
  display: flex;
  padding-bottom: 20px;
}

.heart-count{
  display: flex;
  padding-bottom: 30px;
  color: #6E6E6E;

}
.heart-count > p{
  padding-top: 2px;
  margin-left: 2px; 
  margin-right: 14px;
}


.board-content{
  font-size: 16px;
  font-weight: 200;
  padding-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
  letter-spacing: 15;
  line-height: 2;
}

.board-content{
  min-height: 360px;
  height: fit-content;
}

.heart-count-bottom{
  display: flex;
  padding-top: 10px;
  padding-bottom: 40px;
  border-bottom: 0.2px solid #CACACA;
}
.count-like{
  font-size: 20px;
  font-weight: lighter;
  color: #6E6E6E;
  padding-top: 3px;
  margin-left: 4px;
}

/* 게시글 수정, 게시글 삭제 */
.edit-container{
  display: flex;
  justify-content: right;
}
.edit-btn{
  height: 24px;
  width: 70px;
  font-size: 13px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid  #8976FD;
  display: flex;
  justify-content: center;
  padding-top: 6px;
}