ul,
li{
  list-style: none;
}

#commentInput{
  height: 100px;
  width: 900px;
  border:  0.2px solid black;
  margin: 0;
  font-size: 15px;
  padding-left: 10px;
  font-weight: 300;
  border-right: none;
}

#submit{
  height: 100px;
  margin: 0;
  width: 80px;
  font-size: 15px;;
  color: #ffff;
  background-color: #8976FD;
  border: none;
}

main{
  height: 2000px;
}

.comment-p{
  font-size:17px !important;
  margin-top: 30px !important;
  margin-bottom: 20px !important;
}

.board-comment-container{
  width: 1000px;
  height: max-content;
}

#comment-form {
  padding-bottom: 50px;
  border-bottom: 0.2px solid #666;

}

.card-body{
  width: 990px;
  height: 100px; 
  border-bottom: 0.5px solid #666;
}

.card-text{
  font-size: 20px; 
  font-weight: 300;
  letter-spacing: normal;
  margin-top: 20px;
}